<div class="container-fluid photo-detail-container">
    <div>
        <app-language-selector (changeSelectedLanguage)="changeSelectedLanguage($event)"></app-language-selector>
    </div>
    <div class="custom-row mt-5" *ngIf="photo">
        <img class="photo" [src]="photo.urls.full" [alt]="photo.alt_description" />
        <div class="photo-info-box">
            <div class="row mb-3" *ngIf="photo.description">
                <span>
                    <b>{{ "PHOTO_DETAIL.DESCRIPTION" | translate}}: </b> {{photo.description}}
                </span>
            </div>
            <div class="row mb-3" *ngIf="photo.created_at">
                <span>
                    <b>{{ "PHOTO_DETAIL.CREATION_DATE" | translate}}: </b> {{photo.created_at |  date: dateFormat}}
                </span>
            </div>
            <div class="row mb-3" *ngIf="photo.updated_at">
                <span>
                    <b>{{ "PHOTO_DETAIL.UPDATE_DATE" | translate}}: </b> {{photo.updated_at | date: dateFormat}}
                </span>
            </div>
            <div class="row mb-3" *ngIf="photo.views">
                <span>
                    <b>{{ "PHOTO_DETAIL.VIEWS" | translate}}: </b> {{photo.views}}
                </span>
            </div>
            <div class="row mb-3" *ngIf="photo.downloads">
                <span>
                    <b>{{ "PHOTO_DETAIL.DOWNLOADS" | translate}}: </b> {{photo.downloads}}
                </span>
            </div>
            <div class="row mb-3" *ngIf="photo.likes">
                <span>
                    <b>{{ "PHOTO_DETAIL.LIKES" | translate}}: </b> {{photo.likes}}
                </span>
            </div>
            <div class="row mb-3" *ngIf="photo.user && photo.user.username">
                <span>
                    <b>{{ "PHOTO_DETAIL.OWNER" | translate}}: </b> {{photo.user.username }}
                </span>
            </div>
            <div class="row align-items-center" *ngIf="photo.color">
                <b class="col-auto align-center">{{ "PHOTO_DETAIL.COLOR" | translate}}:</b>  
                <div class="box col-auto" [style.background-color]="photo.color"></div>
            </div>
            
        </div>
    </div>
</div>